<br>
<h1 class="text_centered">Right Time Medication</h1>

<!-- Mobile Header -->

  <div class="row">
    <div class="large-12 columns show-for-small">
      <img src="http://placehold.it/1200x700&text=Mobile Header">
    </div>
  </div><br>

<!-- End Mobile Header -->

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <!-- Image -->
        <div class="large-4 small-4 columns">
          <h4>The Right Medication</h4><hr>
          <img src="/assets/red&white.png" class="welcome_images">
          <br>
          <p  class="text_justified">
            <br>
            Tabsched puts you in control of your medicines. Plan the times and dosage to be taken and Tabsched will send you reminders by SMS or e-mail.
          </p>
        </div>
        <div class="large-4 small-4 columns">
          <h4>The Right Dosage</h4><hr>
          <img src="/assets/liquid.png" class="welcome_images">
          <br>
          <p class="text_justified">
            <br>
            Group medicines by time of day and keep track of your medication history.
          </p>
        </div>
        <div class="large-4 small-4 columns">
          <h4>The Right Time</h4><hr>
          <img src="/assets/clockbg.png" class="welcome_images">
          <br>
           <p class="text_justified">
            <br>
            Track the quantity of medicines taken and receive a reminder when stocks need to be replenished.
          </p>
        </div>
        <!-- End Image -->

      </div>
    </div>
  </div>