<br>
<h1 class="text_centered"> Welcome to Medication Scheduler </h1>

<!-- Mobile Header -->

  <div class="row">
    <div class="large-12 columns show-for-small">
      <img src="http://placehold.it/1200x700&text=Mobile Header">
    </div>
  </div><br>

<!-- End Mobile Header -->

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <!-- Image -->
        <div class="large-4 small-4 columns">
          <h4>First image</h4><hr>
          <img src="http://placehold.it/300x465&amp;text=Image" class="welcome_images">
          <br>
          <p  class="text_justified">
            <br>
            Some text asfa asdfasd fadagas gadgagas asgas dga  Some text asfa asdfasd fadagas gadgagas asgas dga Some text asfa asdfasd fadagas gadgagas asgas dga Some text asfa asdfasd fadagas gadgagas asgas dga
          </p>
        </div>
        <div class="large-4 small-4 columns">
          <h4>Second image</h4><hr>
          <img src="/assets/rails.png" class="welcome_images">
          <br>
          <p class="text_justified">
            <br>
            Some text asfa asdfasd fadagas gadgagas asgas dga  Some text asfa asdfasd fadagas gadgagas asgas dga Some text asfa asdfasd fadagas gadgagas asgas dga Some text asfa asdfasd fadagas gadgagas asgas dga
          </p>
        </div>
        <div class="large-4 small-4 columns">
          <h4>Third image</h4><hr>
          <img src="http://placehold.it/300x465&amp;text=Image" class="welcome_images">
          <br>
           <p class="text_justified">
            <br>
            Some text asfa asdfasd fadagas gadgagas asgas dga  Some text asfa asdfasd fadagas gadgagas asgas dga Some text asfa asdfasd fadagas gadgagas asgas dga Some text asfa asdfasd fadagas gadgagas asgas dga
          </p>
        </div>
        <!-- End Image -->

      </div>
    </div>
  </div>