<br>
<h1 class="text_centered"> Welcome to Medication Scheduler </h1>

<!-- Mobile Header -->

  <div class="row">
    <div class="large-12 columns show-for-small">
      <img src="http://placehold.it/1200x700&text=Mobile Header">
    </div>
  </div><br>

<!-- End Mobile Header -->

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <!-- Image -->
        <div class="large-4 small-4 columns">
          <h4>Profile</h4><hr>
          <%= link_to image_tag('/assets/profile-screen.png'), edit_user_path(current_user) %>
          <br>
          <p  class="text_justified">
            <br>
            Use the RTM Reminder application to keep a complete list of all your medications. When you add your meds, you can also choose to get reminders via email or phone messages. Record your email address and phone numbers in the profile.
          </p>
        </div>
        <div class="large-4 small-4 columns">
          <h4>Dose Due</h4><hr>
          <%= link_to image_tag('/assets/dosedue-screen.png'), journals_path %>
          <br>
          <p class="text_justified">
            <br>
           Once you have recieved your reminders update the system to record whether you have taken or skipped the dose. This will provide you with a history of how you have been keeping up with taking the medication.
          </p>
        </div>
        <div class="large-4 small-4 columns">
          <h4>Schedule</h4><hr>
            <%= link_to image_tag('/assets/schedule-screen.png'), medications_path %>
          <br>
           <p class="text_justified">
            <br>
            Record all your medications and the schedule on when they are due to be taken. Scheduling facility is very flexible. A weekly dose can be set to any number of days specific to you.
          </p>
        </div>
        <!-- End Image -->

      </div>
    </div>
  </div>