<br>
<h1 class="text_centered"> Welcome to Medication Scheduler </h1>

<!-- Mobile Header -->

  <div class="row">
    <div class="large-12 columns show-for-small">
      <img src="http://placehold.it/1200x700&text=Mobile Header">
    </div>
  </div><br>

<!-- End Mobile Header -->

  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <!-- Image -->
        <div class="large-4 small-4 columns">
          <h4>Profile</h4><hr>
          <img src="/assets/profile.png" class="welcome_images">
          <br>
          <p  class="text_justified">
            <br>
           You can maintain your profile. Add times when you regularly take tablets.
          </p>
        </div>
        <div class="large-4 small-4 columns">
          <h4>Dose Due</h4><hr>
          <img src="/assets/dosedue.png" class="welcome_images">
          <br>
          <p class="text_justified">
            <br>
           All the doses due that need to be updated once you have either taken them or skipped so the the history of the medication can be maintained.
          </p>
        </div>
        <div class="large-4 small-4 columns">
          <h4>History</h4><hr>
          <img src="/assets/history.png" class="welcome_images">
          <br>
           <p class="text_justified">
            <br>

          </p>
        </div>
        <!-- End Image -->

      </div>
    </div>
  </div>