<!DOCTYPE html>
<html>
<head>
  <meta content='text/html'; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
  <p> Please remember to take the following medications: </p>
  <h1><%= @medication.medication_name %></h1>
  <p><%= @dosage %></p>
</body>
</html>