.rs_calendar_week a {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 10px;
    margin: -1px 0 0 -1px;
    padding: 5px 3px;
    text-align: center;
    width: 15px;
}

.rs_dialog_holder .rs_dialog .rs_dialog_content .freq_option_section .rs_calendar_day a, .rs_dialog_holder .rs_dialog .rs_dialog_content .freq_option_section .rs_calendar_week a {
    width: 21px;
}

table.width_hundred {
  width: 100%;
}

.eachmed {
  border-style: solid;
  border-width: 1px;
  padding: 5px 3px;
  line-height: 10px;
  margin: 1px 1px 20px 1px;
}

.welcome_images {
  height: 250px;
  min-width: 100%;
}

.text_justified {
  text-align: justify;
}

.text_centered {
  text-align: center;
}

.addicon{
  background: url(/images/plus.eps);
  width:25px;
  height:20px;
  display: block;
}
table.width_hundred {
  width: 100%;
}
/* Journal page*/
.dose {
  position: relative;
  width: 350px;
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 1em;
  font-family: Arial;
  margin: 0px 0px 20px 0px;
}

.medication {
  position: relative;
  width: 100%;
  border: 1px solid black;
  border-radius: 0.3em;
  padding: 1em;
  font-family: Arial;
  margin: 0px 0px 20px 0px;
}

.details {
   float: right;
}

.controls {
  width: 100%;
}

.controls button {
  width: 39%;
  margin: 0 5%;
  padding: 1em;
  border-radius: 1em;
}

input{
  width: 100%;
}

footer {
  position: fixed;
  width: 100%;
  background: white;
  height: 50px;
  z-index: 3;
  bottom: 0;
  left: 0;
}

body {
  padding-bottom: 65px;
}

.top_row_padding {
  padding-top: 50px;
}


.timeperiod > .columns {
  border-radius: 0.5em;
  background-color: #aaa;
}


