<!--
  <footer class="row footer">
    <div class="small-8 columns">
      <span>&copy; Tabsched</span>
    </div>
    <div class="small-4 columns">
      <p class="notice"><%#= notice %></p>
      <p class="alert"><%#= alert %></p>
    </div>
  </footer> -->
