<!--
  <footer class="row footer">
    <div class="small-8 columns">
      "Pills image courtesy of ddpavumba / FreeDigitalPhotos.net".

"Medicine and spoon image courtesy of Gualberto107 / FreeDigitalPhotos.net".

"Clock background image courtesy of Danilin / FreeDigitalPhotos.net".
      <span>&copy; Tabsched</span>
    </div>
    <div class="small-4 columns">
      <p class="notice"><%#= notice %></p>
      <p class="alert"><%#= alert %></p>
    </div>
  </footer> -->
