<footer class="row footer">
  <div class="large-10 columns">
    <small>
      <span>&copy; Tabsched</span>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",static_pages_about_path %></li>
        <li><%= link_to "Contact",static_pages_contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>

